/* ****************** */
/*  Diseños del menu  */
/* ****************** */

nav{
    background: #00AA88;
    display: flex;
    justify-content: space-around;
    border-bottom: 3px solid #edf0f0;
    box-shadow: 0px 0px 0px 6px #00AA88; 
}

nav div {
    display: flex;
    margin: 14px 0;
    flex-direction: column;
    align-items: center; /* Centrado de íconos y texto */
}

/* clase "vin_tel" con propiedad de enlace y le modifico la apariencia de hipervinculo*/
.vin_nav:-webkit-any-link {
    cursor: pointer;
    font-weight: bold;
    font-family: 'Fantasy', sans-serif;
    text-decoration: none;
    margin: 4px  0 auto 0; 
    text-align: center; 
    font-size: 1.03em;
    color: #ebebf0; 
}

/* **************** */
/*  Pied de pagina  */
/* **************** */

/* defino que solo la etiqueta "footer" tendra tendra ciertas caracteristicas */
footer {
    border-top:4px solid #E83;
    width: 100%;  /* ajusto el tamaño que tendra esta clase */
    display: flex; /* le indico que el elemento sea como un bloque (igual que la etiqueta "div") flexible y estaran en la misma linea (segun como este el html) ademas cada elemento se ajustara al tamaño interno proporcionado por bloque en el que se encuentran*/
    flex-direction: column; /* le indico que los elemento del bloque flexible se organinse en columna*/
}

/* defino que solo la etiqueta "section" tendra tendra ciertas caracteristicas */
section.pie{
    display: flex; /* le indico que el elemento sea como un bloque (igual que la etiqueta "div") flexible y estaran en la misma linea (segun como este el html) ademas cada elemento se ajustara al tamaño interno proporcionado por bloque en el que se encuentran*/
    flex-direction: row; /* le indico que los elemento del bloque flexible se organinse en fila*/
}

/* defino que solo la clase "copyright" dentro del bloque con la etiqueta "section" tendra tendra ciertas caracteristicas */
section .copyright {
    display: flex; /* le indico que el elemento sea como un bloque (igual que la etiqueta "div") flexible y estaran en la misma linea (segun como este el html) ademas cada elemento se ajustara al tamaño interno proporcionado por bloque en el que se encuentran*/
    flex-direction: row; /* le indico que los elemento del bloque flexible se organinse en fila*/
    font-size: 22.5px; /* defino el tamaño del texto*/
    font-weight: bold;  /* ajusto el formato del texto para que tenga negrita*/
    margin:  14px auto 0 auto; /* le pongo el margen al posedor de esta clase para alinear la altura de la letra (arriba, derecha, abajo y izquierda)*/
}

/* defino que solo la clase "logo" dentro del bloque con la etiqueta "section" tendra tendra ciertas caracteristicas */
section .logo {
    width: 40px; /* ajusto el tamaño que tendra esta clase */
}

/* defino que solo la clase "enlace" dentro del bloque con la etiqueta "section" tendra tendra ciertas caracteristicas */
section .enlace {
    width: 40px; /* ajusto el tamaño que tendra esta clase */
}