/* ********************************* */
/*  Diseños para Moviles (426 x 790) */
/* ********************************* */

/*Con la linea para que se adapte a la pantalla en la que se encuentra, el tamaño para el Movil es (max-width:426px), sin es linea el tamaño para Movil es (max-width:980px)*/

/* defino que solo altere estos elementos cuando la pantalla del dispositivo sea un telefono */
@media screen and (max-width:980px){
    h1 { font-size: 2.18em !important; }
    header{ height: 76px !important; }

    li.gustos { 
        margin: 4px 0 4px 0 !important;
        text-align: left !important;
    }

    details.esp { width: 409.6px !important;}

    th.hora { width: 70px !important; }
    
    ul.sep2 { 
        padding: 0 0 0 40px !important;
        margin: 0 !important;
    }
    
    ul.sep3 { 
        padding: 0 4px 0 40px !important;
        margin: 0 !important;
    }

    nav{padding: 25px 8px 0 8px !important; }
    
    nav .pos-ini { margin: 0 0 0 2.69em !important; }

    .vin_tel:-webkit-any-link{ font-size: 0.82em !important; }
}

/* defino que solo altere estos elementos cuando la pantalla del dispositivo sea un telefono y que este en vertical*/
@media screen and (max-height:600px) and (orientation:landscape){    
    h1 { font-size: 2.18em !important; }
    header{ height: 76px !important;  }

    li.gustos { 
        margin: 4px 0 4px 0 !important;
        text-align: left !important;
    }
    
    details.esp { width: 409.6px !important;}
    
    ul.sep2 { 
        padding: 0 0 0 40px !important;
        margin: 0 !important;
    }
    
    ul.sep3 { 
        padding: 0 4px 0 40px !important;
        margin: 0 !important;
    }

    nav{padding: 25px 8px 0 8px !important; }
    
    nav .pos-ini { margin: 0 0 0 2.69em !important; }

    .vin_tel:-webkit-any-link{ font-size: 0.82em !important; }
}

/* ******************* */
/*  Diseños del menu  */
/* ******************* */

nav{
    background: #00AA88;
    padding: 4px 8px 0 8px;
    display: flex;
    height: 83px;
    border-bottom: 3px solid #edf0f0;
    box-shadow: 0px 0px 0px 6px #00AA88; 
}

/* defino que solo la clase "posision-pri" tendra tendra ciertas caracteristicas */
nav .pos-ini {
    margin: 0.4em 0 0 5.8em;
    display: flex; /* le indico que el elemento sea como un bloque (igual que la etiqueta "div") flexible y estaran en la misma linea (segun como este el html) ademas cada elemento se ajustara al tamaño interno proporcionado por bloque en el que se encuentran*/
    flex-direction: column; /* le indico que los elemento del bloque flexible se organinse en columna*/
}

/* ******************* */
/*  Diseños generales  */
/* ******************* */

/* La etiqueta "html" tendra cierta carasteristica */
html {
    font-size:100%;
    margin:0px; 
    padding:0px; 
}

/* La etiqueta "body" tendra cierta carasteristica */
body {
    background: url('../IMG/fondo.jpg') repeat; 
    background-attachment: fixed;
    margin: 0;
}

/* La etiqueta "header" tendra cierta carasteristica */
header{
    border-bottom:2px solid #00AA88;  
    height: 3.5em;
    display: flex; /* le indico que el elemento sea como un bloque (igual que la etiqueta "div") flexible y estaran en la misma linea (segun como este el html) ademas cada elemento se ajustara al tamaño interno proporcionado por bloque en el que se encuentran*/
    flex-direction: row; /* le indico que los elemento del bloque flexible se organinse en fila*/
}

.icono {
    position: absolute;
    width: 38px; /* ajusto el ancho que tendra esta clase */
    height: 38px; /* ajusto el alto que tendra esta clase */
    cursor: pointer;
}

#a2{ cursor: pointer; }

/* se crea caracteristicas para la etiqueta "b" para que sirva como negrilla*/
b {
    color: #369;
    font-weight:800;
}

/* La etiqueta "p" tendra cierta carasteristica */
p { text-align: justify; }

/* clase "link" con propiedad de enlace y le quito la aparienci de hiperbinculo */
.link:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}

/* clase "hiper" con propiedad de enlace y le modifico la apariencia de hipervinculo*/
.hiper:-webkit-any-link {
    font-size: 1.2em;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Fantasy', sans-serif;
    text-decoration: none;
    color: #0000EE;
}

/* clase "vin_tel" con propiedad de enlace y le modifico la apariencia de hipervinculo*/
.vin_tel:-webkit-any-link {
    margin: 4px  0 auto 0; 
    text-align: center; 
    font-size: 1.03em;
    color: #ebebf0; 
}

.sub_titulo {
    color: #09F;
    font-weight: bold;
    text-decoration: none;
}
  
/* esta ID evita que el borde golpee debajo de objetos flotantes */
#content {
    background-color: rgba(255,255,255,.95);
    border: 3px solid #228877;
    box-shadow: 0px 0px 0px 6px #FFF; 
    border-radius:20px;
    box-sizing:border-box;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    height:100%;
    line-height: 1.5em;
    margin:50px 50px; /*(arriba y abajo │ derecha y izquierda)*/
    overflow:hidden; 
    padding: 20px;
    z-index:0;
}

/* evitar que los titulos se expandan fuera del contenido */
h1 {
    color: #093;
    font-family: 'Ranchers';
    font-size: 2.5em;
    letter-spacing: 0.1em;
    line-height:1em;
    margin: 0%;
} 

/* controlar los pasos intermedios en una secuencia de animación */
@keyframes anim{
  0% {color: #E83;} 
  16.66666667% {color: #87b34d;} 
  33.33333334% {color: rgb(138, 251, 32);} 
  50.00000001% {color: rgb(72, 184, 20);}
  66.66666668% {color: rgb(138, 251, 32);} 
  83.33333335% {color: #87b34d;} 
  100% {color: #E83;} 
}

/* La etiqueta h1 con propiedad "before" (Antes) tendra un especie de gion */
h1:before {
    animation-name: anim; /* llamo a la animacion */
    animation-duration: 8s; /* le doy un intervalo de animacion*/
    animation-iteration-count: infinite; /* le indico que se repita cuando finalise la animacion */
    content: '\00273F'; /*(La guion sera una flor)*/
    color: #E83; /*el guion sera de color naranja*/
    margin: 0 8px 0 0;
}

/* evitar que los titulos se expandan fuera del contenido */
h2 {
    border-bottom: 2px solid rgb(46, 170, 253);
    color: rgb(46, 170, 253);
    font-family: 'Ranchers';
    font-size: 2em;
    letter-spacing: 0.1em;
    line-height: 1.4em;
    margin: 26.56px 0 0 0;
}

/* evitar que los titulos se expandan fuera del contenido */
h3 , summary {
	border-bottom:none;
    font-weight: bold;
	color: #E83;
	font-family: 'Ranchers', sans-serif;
	font-size: 1.5em;
	letter-spacing: 0.1em;
	line-height: 1em;
    margin: 24px 0;
}

summary.prin{ color: rgb(217, 0, 255); }
summary.sec{ color: rgb(239, 192, 0); }
summary.ter{ color: rgb(43, 193, 168); }

summary { cursor: pointer; }

summary:focus-visible { outline:none; }

details.esp { width: 680px;}

details[open] > summary:first-of-type {
    list-style-type: disclosure-open;
	color: rgb(77, 208, 6);
}

/*Los details que estan serrados */
details > summary:first-of-type { margin: 24px 0 4px 0; }

/* se crea la clase "right" para que se ocupe de posisionar la imagen a la derecha*/
.right {
    float:right; 
    height:auto; 
    margin: 5px 20px 0 0;
    max-width:100%;
    border-radius:10px;
}

/* se crea la clase "left" para que se ocupe de posisionar la imagen a la izquierda*/
.left {
    float:left; 
    height:auto; 
    margin: 5px 0 0 20px;
    max-width:100%;
    border-radius:10px;
}

/* se crea la clase "center" para que se ocupe de posisionar la imagen al centro*/
.center {
    display:block;
    height:auto;
    margin:0px auto;
    max-width:100%;
    border-radius:10px;
}

/* se crea la clase "screenshot" para que se ocupe de crear un marco cverde para la imagen*/
.screenshot {
    border: 3px solid #228877;
    border-radius:15px; 
    max-width:100%; 	
    height:auto;
    aspect-ratio: attr(width) / attr(height);
}

/* se crea caracteristicas para la etiqueta "ul" para controlar la lista*/
ul {	
    list-style:none;
    line-height: 1.5em;
    margin-left: -.5em;
}

/* se crea la clase "sep1" en la etiqueta "ul" para que se ocupe de posisionar el contenido de una lista */
ul.sep1 { 
    padding: 0 0 0 10px;
    margin: 0;
}

/* se crea la clase "sep2" en la etiqueta "ul" para que se ocupe de posisionar el contenido de una lista */
ul.sep2 { 
    padding: 0 0 0 100px;
    margin: 0;
}

/* se crea la clase "sep3" en la etiqueta "ul" para que se ocupe de posisionar el contenido de una lista */
ul.sep3 { 
    padding: 0 4px 0 100px;
    margin: 0;
}

/* se crea la clase "horario" en la etiqueta "ul" para que se ocupe de posisionar el contenido de una lista */
ul.horario { 
    padding: 0 4px;
    margin: 0;
}

/* La etiqueta li con propiedad "before" (Antes) tendra un especie de gion pero solo los que estan dentro de la etiqueta ul*/
ul li:before {
    content: '\1F340'; /* La guion sera un trevol */
    color: #093; /* El guion sera de color verde*/
    padding-right:8px; /* El guion tendra un espacio para la derecha*/
    font-size:1.2em; /* El guion tendra un tamaño*/
}

/* La etiqueta li tendra espacio para abajo */
li { 
    margin-block-end: 0.5em; 
    margin-right: 0.5em;
    text-align: justify;
    margin: 8px 0 8px 8px;
}

li.gustos { 
    margin: 4px 0 4px 0;
    text-align: left;
}

/* La etiqueta "data" tendra una caracteristica para desplasar las tablas al centro */
.data{
    margin:15px auto;
    border-spacing: 0px;
    border:2px solid green;
}

/* Las etiquetas "td" (columna simple de la tabla) y "th" (columna de la tabla como encabesado) tendran caracteristicas para el diseño de las lineas de la tabla */
td, th { 
    padding: 4px 5px; /*(arriba, derecha, abajo y izquierda)*/
    border:2px solid green;
}

td.perso{ padding: 8px 4px 8px 18px; }

/* La etiqueta "th" (columna de la tabla como encabesado) tendran caracteristicas para el diseño del encabesado de la tabla */
th { 
    background-color:#00AA88; 
    color: #FAFAFA
}

/* La etiqueta "tr" (fila de la tabla) con propiedad "nth-child(odd)" (filas impares) tendra un color en la tabla */
tr:nth-child(odd) {background-color: #E8E8E8;}

/* La etiqueta "tr" (fila de la tabla) con propiedad "nth-child(even)" (filas pares) tendra un color en la tabla */
tr:nth-child(even) {background-color: #FAFAFA;}

/* se crea la ID "boxsort" para que se ocupe de posisionar la imagen dentro de la caja*/
#boxsort{ text-align:center;}

/* se crea la clase "box_matrimonio" para que se ocupe de posisionar el contenido para los perfiles*/
.box_matrimonio {
    max-width:180px; 
    height:auto; 
    display:inline-block; 
    margin:10px 40px;
}

/* La etiqueta "img" con la clase "box_matrimonio" para que se ocupe del tamaño de la imagen*/
.box_matrimonio img { max-width:100%; height:auto; }

/* se crea la clase "box_animales" para que se ocupe de posisionar el contenido para los perfiles*/
.box_animales {
    max-width:250px; 
    height:auto; 
    display:inline-block; 
    margin:10px;
}

/* La etiqueta "img" con la clase "box_animales" para que se ocupe del tamaño de la imagen*/
.box_animales img { max-width:100%; height:auto; }

/* se crea la clase "box_gallinero" para que se ocupe de posisionar el contenido de las gallinas*/
.box_gallinero {
    max-width:180px; 
    height:auto; 
    display:inline-block; 
    margin:10px 50px;
}

.box_gallinero img { max-width:100%; height:auto; }

/* se crea la clase "box_menu" para que se ocupe de posisionar el contenido de las opciones*/
.box_menu {
    max-width:160px;
    height:auto; 
    display:inline-block; 
    margin:12px 17px;
}

/* La etiqueta "img" con la clase "box_menu" para que se ocupe del tamaño de la imagen*/
.box_menu img { max-width:100%; height:auto; }

/* se crea la clase "box_menu" para que se ocupe de posisionar el contenido de las opciones*/
.box_menu_lugares {
    max-width:200px;
    height:auto; 
    display:inline-block; 
    margin:12px 20px;
}

/* La etiqueta "img" con la clase "box_menu" para que se ocupe del tamaño de la imagen*/
.box_menu_lugares img { max-width:100%; height:auto; }

/* se crea la clase "box_inicio" para que se ocupe de posisionar el contenido de las opciones*/
.box_inicio {
    height:auto; 
    display:inline-block; 
}

/* La etiqueta "img" con la clase "box_inicio" para que se ocupe del tamaño de la imagen*/
.box_inicio img { max-width:100%; height:auto; }

/* se crea la clase "box_mascota" para que se ocupe de posisionar el contenido para las mascotas*/
.box_mascota {
    max-width:160px; 
    height:auto; 
    display:inline-block; 
    margin:10px 17px;
}

.box_mascota img { max-width:100%; height:auto; }

/* se crea la clase "box_aldeano" para que se ocupe de posisionar el contenido para las mascotas*/
.box_aldeanos {
    max-width:200px; 
    height:auto; 
    display:inline-block; 
    margin:10px 17px;
}

.box_aldeanos img { max-width:100%; height:auto; }

/* se crea la clase "box_otro" para que se ocupe de posisionar el contenido para las mascotas*/
.box_otro {
    max-width:890px; 
    height:auto; 
    display:inline-block; 
    margin:10px 17px;
}

.box_otro img { max-width:100%; height:auto; }

/* se crea la clase "box_ganado" para que se ocupe de posisionar el contenido para el ganado*/
.box_ganado {
    max-width: 200px; 
    height:auto; 
    display:inline-block; 
    margin:10px 40px;
}

.box_ganado img { max-width:100%; height:auto; }

/* Estas clases tienen la propiedad "before" (Antes) para que el guion tenga un icono de emociones */
.fasina:before  {
    content: '\1F60D'; /*(La guion sera una cara con corazon)*/
    font-size: 2.8em;
}

.encanta:before  {
    content: '\1F604'; /*(La guion sera una alegre)*/
    font-size: 2.8em;
}

.gusta:before  {
    content: '\1F642'; /*(La guion sera una feliz)*/
    font-size: 3em;
}

.desagrado:before  {
    content: '\1F620'; /*(La guion sera una desagrado)*/
    font-size: 3em;
}


/* Estas clases tienen la propiedad "before" (Antes) para que el guion tenga un icono de estaciones como principal*/
.primavera:before  {
    content: '\1F338'; /*(La guion sera un cereso)*/
    font-size: 3em;
}

.verano:before  {
    content: '\1F31E'; /*(La guion sera un sol)*/
    font-size: 3em;
}

.otoño:before  {
    content: '\1F342'; /*(La guion sera una hoja)*/
    font-size: 3em;
}

.invierno:before  {
    content: '\26C4'; /*(La guion sera una muñeco de nieve)*/
    font-size: 3em;
}

/**/
.pri:before  {
    content: '\1F338'; /*(La guion sera un cereso)*/
    font-size: 1.5em;
}

.ve:before  {
    content: '\1F31E'; /*(La guion sera un sol)*/
    font-size: 1.5em;
}

.ot:before  {
    content: '\1F342'; /*(La guion sera una hoja)*/
    font-size: 1.5em;
}

.in:before  { 
    font-size: 1.5em; 
    content: '\26C4'; /*(La guion sera una muñeco de nieve)*/
}
/* Estas clases tienen la propiedad "before" (Antes) para que el guion tenga un icono de eventos */
.cumpleaño:before  {
    content: '\1F382'; /*(La guion sera un regalo)*/
    font-size: 3em;
}

.evento:before  {
    content: '\1F388'; /*(La guion sera un globo)*/
    font-size: 3em;
}

/* ************** */
/*  FINAL CUADRO  */
/* ************** */

/* defino que solo la etiqueta "footer" tendra tendra ciertas caracteristicas */
footer {
    border-top:4px solid #E83;
    width: 100%;  /* ajusto el tamaño que tendra esta clase */
    display: flex; /* le indico que el elemento sea como un bloque (igual que la etiqueta "div") flexible y estaran en la misma linea (segun como este el html) ademas cada elemento se ajustara al tamaño interno proporcionado por bloque en el que se encuentran*/
    flex-direction: column; /* le indico que los elemento del bloque flexible se organinse en columna*/
}

/* defino que solo la etiqueta "section" tendra tendra ciertas caracteristicas */
section.pie{
    display: flex; /* le indico que el elemento sea como un bloque (igual que la etiqueta "div") flexible y estaran en la misma linea (segun como este el html) ademas cada elemento se ajustara al tamaño interno proporcionado por bloque en el que se encuentran*/
    flex-direction: row; /* le indico que los elemento del bloque flexible se organinse en fila*/
}

/* defino que solo la clase "copyright" dentro del bloque con la etiqueta "section" tendra tendra ciertas caracteristicas */
section .copyright {
    font-size: 22.5px; /* defino el tamaño del texto*/
    font-weight: bold;  /* ajusto el formato del texto para que tenga negrita*/
    margin:  14px auto 0 auto; /* le pongo el margen al posedor de esta clase para alinear la altura de la letra (arriba, derecha, abajo y izquierda)*/
}

/* defino que solo la clase "logo" dentro del bloque con la etiqueta "section" tendra tendra ciertas caracteristicas */
section .logo {
    width: 40px; /* ajusto el tamaño que tendra esta clase */
}

/* defino que solo la clase "enlace" dentro del bloque con la etiqueta "section" tendra tendra ciertas caracteristicas */
section .enlace {
    width: 40px; /* ajusto el tamaño que tendra esta clase */
}

/* defino que solo la clase "posision-pri" tendra tendra ciertas caracteristicas */
.posision-pri {
    margin: 0 0 0 auto; /* le pongo el margen al posedor de esta clase para alinear la altura de la letra (arriba, derecha, abajo y izquierda)*/
}

/* defino que solo la clase "posision-sec" tendra tendra ciertas caracteristicas */
.posision-sec {
    margin: 0 0 0 4.5em; /* le pongo el margen al posedor de esta clase para alinear la altura de la letra (arriba, derecha, abajo y izquierda)*/
}

/* defino que solo la clase "posision-ter" tendra tendra ciertas caracteristicas */
.posision-ter {
    margin: 0 auto 0 4.5em; /* le pongo el margen al posedor de esta clase para alinear la altura de la letra (arriba, derecha, abajo y izquierda)*/
}